# Virtual Environment  *.pyc ve __pycache__/: Python'un kodları hızlı çalıştırmak için arkada oluşturduğu geçici önbellek dosyalarıdır.
venv/
*.pyc    
__pycache__/

# Database & Local Settings
db.sqlite3
.env

# IDE / System
.vscode/
.DS_Store